:root {
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* background-color: hsl(30, 54%, 90%); */
}

p {
    font-size: 16px;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    min-height: calc(100vh - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Eggshell);
    color: var(--DarkRaspberry);
    line-height: 1.5;
    font-size: 16px;
    
    

}

.container {
    border: 25px solid white;
    background-color: white;
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;    
}

.container img {
    border-radius: 25px;
    max-width: 100%;
}

.card-title {
    color: var(--DarkCharcoal);
}

.container .opener {
    color: var(--WengeBrown); 
}

.prep-box {
    background-color: var(--RoseWhite);
    line-height: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

.instructions {
    margin-bottom: 25px;
    margin-top: 20px;
}

h1 {
    font-family: 'Young Serif', sans-serif;
    color: var(--DarkCharcoal);
    font-weight: 400; ;
}

h2, h3 {
    font-family: 'Young Serif', sans-serif;
    color: var(--Nutmeg);
    font-weight: 400; ;
}

ul li {
    /* list-style-type: disc; */
    list-style-position: inside;
}
li {
    margin: 10px 0;
    padding-left: 5px;
}



ol li {
    
    list-style-position: inside;
}

hr {
    opacity: 20%;
}

tr, td {
    padding-left: 20px;
    padding-right: 130px;
    padding-top: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, .20);
    line-height: 30px;
    
}


.prepper {
    margin-left: 30px;
    
}

/* table th {
    border-bottom: 1px solid black;
} */

.ingredients {
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nutrition {
    margin-top: 20px;
}

.attribution {
    margin-top: 30px;
}

@media (max-width: 375px) {

    .container {
        max-width: 100%;
        padding: 10px;
    }
}


@media (min-width: 376px) {

    .container {
        max-width: 800px;
        padding: 20px;
    }
}

